body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}


div.one {
    border-style: dotted;
}

div.two {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 12px;
}